.carta {
    --principal:#f4ed25;
    width: 30vw;
    height: 20vw;
    background-color: #626360;
    position: relative;
    border-radius: 2vw;
    box-shadow: 0 0 4vw var(--principal);
    overflow: hidden;
}
.carta img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.cuadrado{
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: conic-gradient(var(--principal) 286deg,#000 1deg);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;

}
.porcentaje{
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    position: absolute;
    background-color: #000;
    color: var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}
.contenedorInformacion {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(19, 19, 19, 0.95);
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .8s;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: .5vw;
}
.contenedorInformacion:hover{
    opacity: 1;
}
.contenedorInformacion h4 {
    top: 1.2vw;
    color: #fff;
    font-size: 2vw;
}

.contenedorBotones{
    display: flex;
    justify-content: center;
    gap: 2vw;
    width: 90%;
    height: 60%;
    align-items: center;
    flex-direction: column;
}

.contenedorBotones button{
    height: 25%;
    width: 80%;
    border-radius: 1vw;
    font-size: 1.5vw;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.contenedorBotones button:first-child{
    background-color: var(--principal); 
}
.contenedorBotones button:nth-child(2){
    background-color: rgb(9, 254, 87);
}