.carrito{
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: visible;
    padding-right: 2vw;

}
.carrito:first-child{
    cursor: pointer;
}
.carrito h5 {
    width: 1vw;
    position: absolute;
    background-color: rgb(255, 0, 0);
    height: 1vw;
    border-radius: 50%;
    top: -.5vw;
    left: .8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--principal);
    font-size: 40%;
}