.contenedorMain {
    background-color: #000;
    color: #a2ff11;;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top:2vh ;
    gap: 2vw;
}

