.carritoVacio {
  background-image: url(https://c.tenor.com/M1pI3yVz2iUAAAAd/gamer.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
}
.capa {
  position: absolute;
  top: 30vh;
  left: 2vw;
  width: 40%;
  height: 50%;
  gap: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 6vw;
  color: rgb(208, 107, 205);
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.capa h4 {
  -webkit-text-stroke: 0.1vw rgb(0, 0, 0);
}
.capa a {
  width: 30vw;
  height: 3vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1vw;
  box-shadow: 0 0 1vw #fff;
}
.capa a button {
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-color: rgb(139, 47, 225);
  color: #fff;
  border: #fff;
  transition: all 0.5s;
  font-size: 1.2vw;
}
.capa a button:hover {
  background-color: #fff;
  color: rgb(139, 47, 225);
}
.fondoCarritoLLeno {
  width: 100vw;
  height: 90vh;
  background: url(https://c.tenor.com/3bTxZ4HdrysAAAAC/pixels-neon.gif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footerCarritoLleno {
  width: 100vw;
  height: 14vh;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerCarritoLleno h5 {
  color: #aaff11;
  font-size: 3vw;
  margin-right: 1vw;
}
.footerCarritoLleno button {
  width: 20vw;
  height: 3vw;
  font-size: 1.5vw;
  cursor: pointer;
  border-radius: 1vw;
}
.footerCarritoLleno button:first-child {
  margin-left: 1vw;
  background-color: #aaff11;
}
.footerCarritoLleno button:nth-child(2) {
  background-color: rgb(231, 84, 84);
  color: #000;
}
.fondoProductos {
  background: rgba(32, 30, 30, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 15vh;
  justify-content: start;
  align-items: center;
  color: #aaff11;
  gap: 2vw;
}
.fondoProductos h5 {
  font-size: 3vw;
  margin-bottom: 3vh;
}
