*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
}
body::-webkit-scrollbar{
  background-color: #000000;

}
body::-webkit-scrollbar-thumb{
  border-radius: .5vw;
  background-color: #a2ff11;
  border-right: .2vw solid #000;
}