.counterContainer {
  width: 90%;
  height: 25%;
  box-shadow: 0px 0px 0.5vw var(--principal);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  background-color: #000;
}
.cantidad {
  color: var(--principal);
  font-size: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.aumentarYdisminuir {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.aumentarYdisminuir button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  overflow: hidden;
  border-radius: 50%;
  font-size: 3vw;
  cursor: pointer;
}
.aumentarYdisminuir button:nth-child(3) {
  background-color: var(--principal);
}
.aumentarYdisminuir button:first-child {
  background-color: #f00;
  color: aliceblue;
}
.agregarAlCarrito {
  width: 90%;
  height: 3.5vw;
  font-size: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  color: var(--principal);
  background-color: #000;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: 0px 0px 0.5vw var(--principal);
}
.agregarAlCarrito:hover {
  background-color: rgb(64, 53, 53);
}
.confirmarCompra {
  background-color: var(--principal);
  color: #000;
  text-decoration: none;
}
.confirmarCompra:hover {
  background-color: rgb(187, 115, 223);
}
