.contenedorCartasInicio {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6vw;
    overflow-x: hidden;
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.contenedorCartasInicio::-webkit-scrollbar{
    background-color: #000;  
}
.contenedorCartasInicio::-webkit-scrollbar-thumb{
    width: 2vw;
    background-color: var(--principal);
    border-radius: 2vw;
    border-right: #000;
    box-shadow: 0 0 20px var(--principal);
}