.contenedorCartasInicio {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6vw;
    overflow-x: hidden;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.contenedorCartasInicio::-webkit-scrollbar{
    background-color: rgba(0, 0, 0, .12);  
}
.contenedorCartasInicio::-webkit-scrollbar-thumb{
    width: 2vw;
    background-color: var(--principal);
    border-radius: 2vw;
    border-right: #000;
    box-shadow: 0 0 20px var(--principal);
}
.Titulo {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 8vh;
    font-size: 3vw;
    overflow: hidden;
}